main {
    margin-left: 10px;
    margin-right: 10px;
}

header>a>img {
    max-width: 300px;
    max-height: 150px;
    display: grid;
    margin-left: 50%;
    margin-right: 50%;
}


Header {
    display: grid;
    grid-template-columns: 3fr 1fr; 
}
ul {
    list-style-type: none;
    padding: 0;
    display: inline
}



.checkbox_menu{background-color: cyan;}
@media (max-width: 600px) 
{
#menu-checkbox:checked ~ .checkbox_menu { display: block;
    background-color: blueviolet;}

}