
@font-face {
    font-family: "Hind";
    src: url(https://fonts.googleapis.com/css2?family=Hind&display=swap)
    
}
h1{font-family: 'Hind', sans-serif;}
h2{font-family: 'Hind', sans-serif;}
h3{font-family: 'Hind', sans-serif;}
h4{font-family: 'Hind', sans-serif; }
h5{font-family: "Hind", sans-serif; font-weight: 500;}

p{font-family: 'Hind', sans-serif;}

main{margin-left: 50px; margin-right: 50px;}

.index-Header>a>img,.Header1>a>img{max-width: 300px; max-height: 150px;display: flex; margin-left: 40%; padding-top: 30px;}
header>nav{ display:flex ; justify-content: flex-end; display: grid; background-color:red; }
.navbar-top >li {display: inline-block;
    color:black; padding-right: 40px; font-size: 1.1em; font-family: "Hind"; background-color: yellow;}
.navbar-top >li>a>i {padding-right: 10px;} 
.search {color: black; font-size: 1.5em;display: inline-flex; align-items:  center; background-color: purple} 
.search>div {
    padding:5px ;
}
input[name=search] {height: 30px; width: 200px;}
.search>div>i{font-size: 1.2em;}
header>.back-arrow {display: flex; font-family: "Hind"; font-size: 3em; margin-left: 200px; margin-bottom: 20px;}
.back-arrow2{display: flex; font-family: "Hind"; font-size: 3em;  margin-left: 20px;}



.index-Header{background-image:url(/Images/Background\ main2.jpg); max-height: 900px; 
    position:relative;
    background-size:cover; background-repeat: no-repeat; top:auto; left: 0%; background-position-x: center;
 }


ul{list-style-type: none; padding: 0; display: inline}




.Picture-side-menu
{max-width: 200px; float: right; display:block;
}
.side-menu 
{ color:black; line-height: 80px;
    float: left; display:block;
    background-color: rgb(249, 254, 255); text-align: left; margin: auto;
    padding:10px;
    border-style: solid; border-color: rgb(158, 238, 244); inline-size: 100px; a{color: black;}}



a{color: black; text-decoration: none;}




.About{background-color: rgb(249, 254, 255); text-align: left; margin: auto;
    padding:10px; 
    border-style: solid; border-color: rgb(158, 238, 244); inline-size: 400px; }


    .Contact{ background-color: rgb(249, 254, 255); text-align: left; margin: auto;
        padding:10px; 
        border-style: solid; border-color: rgb(158, 238, 244); inline-size: 50%;  display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        width: 50%;
    }

.form__input{display: block; width:60%; padding:inherit}
input[name=message] {height: 100px;}





button {
    font-family: "Hind";background-color: rgb(181, 254, 255); 
    border-radius: 10px; border-width: 1px; 
    border-color: rgb(78, 228, 255); display: inline;
    margin:20px;max-height: 60px; max-width: 200px; font-size: 1.8em; font-weight: 500;}
    
Button:hover{background-size:cover;
background-image: url(/Images/button\ color.jpg);
}
.current{ margin:20px;max-height: 60px; max-width: 200px; font-size: 1.8em; font-weight: 500;
    background-size:cover;
    background-image: url(/Images/button\ color.jpg);text-decoration: underline;}
.Shop_CTA-Button{ display: flex; justify-content: center; padding: 2%; background-image: linear-gradient(white,rgb(142, 249, 249),rgb(197, 255, 255),white )}

.Index__CTA-Button{ display: flex; justify-content: center; margin-top: 20%;}
.CTA-Button {   font-family: "Hind";background-color: rgb(181, 254, 255); 
    border-radius: 10px; border-width: 1px; 
    border-color: rgb(78, 228, 255); display: inline;
    margin:20px;max-height: 30px; max-width: 100px; font-size: 0.5em; font-weight: 900;}

.CTA-Button:hover{background-size: cover;background-image: url(/Images/button\ color.jpg)}




.Index__Sale {color:rgb(181, 254, 255);-webkit-text-stroke: 2px; -webkit-text-stroke-color: black; background-image: url(/Images/button\ color.jpg)  ;
    font-size: 5em;
     text-align: center; ; background-image:linear-gradient(white,rgb(0, 242, 255),white)}


.Index_Jackets-shop>div{
    position: relative; width: 400px; height: 400px; margin: 20px; display: inline-flex; justify-content: center; align-items: center
    ;background-image:linear-gradient(white,rgb(171, 251, 255),white)
}
.Index_Jackets-shop{ max-width: 100%; max-height: 500px; overflow-y: a; overflow-x: scroll; white-space: nowrap; margin-bottom: 150px;
    }
.jackets-Shop>div{
    position: relative; width: 500px; height: 600px; margin: 20px; margin-bottom: 100px; display: inline-flex; justify-content: center; align-items: center
    ;background-image:linear-gradient(white,rgb(171, 251, 255),white)
}


.jackets-Shop>div>a>img{ 
    max-width: 500px; max-height: 400px; margin-bottom: 80px;
    
}
.img-smaler,.Jackets-Him{max-height: 450px;}
 .Index_Jackets-shop>div>a>img{ 
    max-width: 250px; height: 300px; margin-bottom: 40px;
}
.Index_Jackets-shop>div>i,.jackets-Shop>div>i{ position: absolute; top:2%; right: 15%; font-size: 1.5em;}
.Index_Jackets-shop>div>i:hover,.jackets-Shop>div>i:hover{background-color: aqua;}
 

.percent{  position: absolute; top:2%; left: 5%; background-image:linear-gradient(rgb(159, 250, 255),rgb(0, 242, 255),rgb(159, 250, 255));
}
.Price {font-weight:900;
    position: absolute; top:90%; left: 50%;transform: translate(-50%, -50%)
     background-color: red;}
.jackets-Shop>div>h2,.Index_Jackets-shop>div>h3 {
position: absolute; top:80%; left: 50%;transform: translate(-50%, -50%); font-weight: 500; }
.jackets-Shop>div>h3, .Index_Jackets-shop>div>h4 {position: absolute; top:85%; left: 50%;transform: translate(-50%, -50%); 
font-weight: 200}

.Jacket_info{background-color:olive; display: flex;}
.back-arrow-x{background-color: blueviolet; }
.Jacket_info>div>img{ background-color: red;}
.info_Price {background-color: yellow;}
.Size-button {background-color: orange;}
.Jacket_info>div>ul>lis{background-color: blue;}
.Info_info{background-color:pink;}

.Not-found { color:white;display: flex; background-image: url(/Images/Not\ found.jpg); max-height: 9000px; }
.Not-found>main{}

.Sign-in,.Sign-in-fail { display: flex; flex-direction: column; align-items: center; font-size: 2em; line-height: 1px;}
.Sign-in>i,.Sign-in-fail>i{font-size: 3em; }
.Sign-in>form>input,.Sign-in-fail>form>input[type=text], .Sign-in>form>input,.Sign-in-fail>form>input[type=password] 
{padding: 10px; background-color: rgba(255, 0, 0, 0.325);}
.Sign-in-fail>h2{font-size: 0.5em; color: red;}
.Sign-in-fail>.CTA-Button{background-image: url(/Images/button\ color.jpg)}

.Sendt{
     background-image: url(/Images/pexels-flo-maderebner-869258.jpg);
    height: 500px;background-size: cover;
   
    }
    .Sendt>section{  display: flex;
        flex-direction: column;
         align-items: center; 
         justify-content: center;
         max-width: 900px;
         margin-left: 50%;transform: translate(-50%, 50%);
       }
       .sendt>section>h1



.footer{
    display: flex;
}

.Footer_Info{ display:flex ; justify-content:space-evenly; border-top: 3px solid black; border-bottom: 3px solid black;}
.Footer_Info>div>h4{font-size:1.2em;}
.Footer_Link{display: flex; justify-content: space-evenly; border-bottom: 2px solid black; font-size:1.1em; align-items;}
.Footer_payment>img{margin-left: 20px; padding-left: 50px; }

.Footer_payment>img{height: 40px; padding: 10px; bottom: 50% ; background-color:}
.Footer_payment {background-color: lightgray;}


